[Unit]
Description=IPMI event daemon
After=openipmi.service

[Service]
Type=forking
ExecStart=/usr/sbin/ipmievd open daemon

[Install]
WantedBy=multi-user.target
Alias=ipmi.service
